<div class="container">
    <div class="row">
        <div class="col">
            {{#if user}}
            <div class="w-75">
            <h1>Welcome back, {{user.name}}</h1>

            <img src="{{user.photo}}" class="card-img-top w-25 margin-1-rem" alt="...">

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{user.name}}</h5>
                    <a href="mailto:{{user.email}}">{{user.email}}</a>
                    <p class="card-text"><small class="text-muted">Role: {{user.role}}</small></p>
                </div>
            </div>
            </div>
            {{> logout-button}}
            {{else}}

            <h1>You need to log in!</h1>

            {{> login-form}}

            {{/if}}
        </div>
    </div>