<div class="container">
    <div class="row">
        <div class="col">
            <h1>Users</h1>
            {{#each users}}
            <div class="card mb-3">
                <img src="{{this.photo}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <a href="mailto:{{this.email}}">{{this.email}}</a>
                    <p class="card-text"><small class="text-muted">{{this.role}}</small></p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>